{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<form action="#" method="post">
	<p>First Name:</p>
	<p><input type="text" name="fnm" /></p>
	<p>Last Name:</p>
	<p><input type="text" name="lnm" /></p>
	<p>Email:</p>
	<p><input type="text" name="email" /></p>                                                                                             
	<p>Password:</p>
	<p><input type="text" name="ps" /></p>
	<p>Phone Number:</p>
	<p><input type="text" name="number" /></p>
	<p>Address:</p>
	<p><input type="text" name="address" /></p>
	<p><input type="submit" value="submit"/></p>
</form>
{% endblock %}