{% extends "base.html" %}
{% block title %}Shop Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://www.viper.com/images/products/feature/5305V.png"  alt="...">
        <div class="caption">
          <h3>Viper CarAlarm Model 5305V </h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Add To Cart</a> <a href="#" class="btn btn-default" role="button">Description</a></p>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="https://m.media-amazon.com/images/I/810d1+wVArL._AC_SL1500_.jpg" width="540" height="640" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Add To Cart</a> <a href="#" class="btn btn-default" role="button">Description</a></p>
            </div>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTmydwlA9x0yxq7mLIYr9qs-rRzV5HJUr_SwJoyOYG8dkBKYcC1" width="540" height="640" alt="...">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add To Cart</a> <a href="#" class="btn btn-default" role="button">Description</a></p>
                </div>
      </div>
    </div>
  </div>

  {% endblock %}